#!/usr/bin/env bash
key_server="keyserver.ubuntu.com"
missing_keys=$(apt update 2>&1 1>/dev/null|grep 'NO_PUBKEY'|grep -oE '[^ ]+$')
missing_keys=$(echo "$missing_keys" | xargs -n1 | sort -u | xargs )
key_count=$(echo "$missing_keys"|wc -w)
if [[ "$key_count" -gt 0 ]]; then 
    for i in "$missing_keys"; do 
    echo "[INFO] Adding missing GPG key: $i                     "
    apt-key adv --keyserver  "$key_server" --recv-keys "$i" >/dev/null 2>&1 
    if [[ "$?" -eq 0 ]]; then 
        gpg -a --export "$i" | apt-key add - 
        apt update 
    else 
        echo "[WARN] Could not find GPG key: $i                     "
    fi 
    done 
else 
  echo "No missing keys detected. Yaaaay" 
fi
